@font-face {
    font-family: 'Asap';
    src: url('../Fonts/Asap-Bold.ttf');
}

/*Body, Main, Footer Classes*/
html, body, main {
    color: #FFFFFF;
    font-family: Asap;
    background-color: #212121;
}

main {
    width: 100%;
    padding: 25px 10px;
    padding-bottom: 3%;
    margin: auto !important;
    max-width: 1250px !important;
}

footer.footer {
    padding: 10px;
    background-color: #424242;
}

div.footer {
    bottom: 0;
    width: 100%;
    height: 75px;
    line-height: 60px;
    padding-top: 75px; /*THIS MAY NEED SOME EDITING*/
    position: absolute;
}

/*Navbar Classes And CSS*/
.navbar-dark {
    background-color: #424242;
}

.navbar-list {
    padding-left: 2em;
    padding-right: 2em;
}

ul.navbar-list li {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.nav-img {
    max-width: 110px;
}

.nav-link {
    font-size: 24px;
    font-family: Asap;
    color: rgba(255, 255, 255, 0.75);
}

    .nav-link.active {
        background-color: transparent !important;
    }

/*Card, Image, And Form Classes*/
.card {
    background-color: #323232;
}

.card-block {
    margin: 15px;
}

img.AppIcon {
    width: 200px;
    height: 200px;
}

img.XamarinLogo {
    width: 200px;
    height: auto;
    float: left
}

img.GooglePlayBadge {
    width: 200px;
    height: auto;
    float: right;
}

blockquote {
    color: #2966B1;
}

p.Description {
    font-size: 18px;
}

.blockquote-footer {
    color: #FFFFFF;
}

a.IconBTN {
    padding-left: 10px;
    padding-right: 10px;
}

/*Grid Specialized CSS*/
.col.Spaced {
    padding: 3%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tox-progress {
    margin: auto;
}
