@font-face {
    font-family: 'Asap';
    src: url('../Fonts/Asap-Bold.ttf');
}

html {
    font-family: Asap;
    background-color: #202020;
}

.navbar-dark {
    background-color: #303030;
}

.navbar-list {
    padding-left: 2em;
    padding-right: 2em;
}

ul.navbar-list li {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.nav-img {
    max-width: 120px;
}

.nav-link {
    font-size: 24px;
    font-family: Asap;
}
