h1 {
    font-size: 48px;
    padding-top: 0em;
    padding-bottom: 0em;
}

h2.NavLink {
    color: #2E64FE;
    font-size: 38px;
    display: inline;
    padding-right: .5em;
}

h2:hover {
    cursor: pointer;
}


h2.NavLinkWhite {
    color: #FFFFFF;
    font-size: 38px;
    display: inline;
    padding-right: .5em;
}

h2.AppTitle {
    color: #FFFFFF;
    font-size: 30px;
    display: inline;
    padding-right: .5em;
}

h2 {
    color: #FFFFFF;
    font-size: 38px;
    display: inline;
    padding-right: .5em;
}

p.Blue {
    color: #2E64FE;
    align-content: center;
    font-size: 26px;
}

p {
    align-content: center;
    font-size: 26px;
}

